<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    {% block css_add %}
        <link type="text/css" href="{% static 'marketapp/css/mainpage.css' %}" rel="stylesheet">
    {% endblock %}

    <title>{% block title %}PlumbingStore | Main page{% endblock %}</title>
</head>
<body>
    {% block head %}
        <header>
            <div class="slogan-oval">
                <div>
                    <h1 class="main-title">Everything for purity of your ass</h1>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block menu %}
        <div class="menu">
            {% if user.is_authenticated %}
                <div class="user-profile-links">
                    <a href="{% url 'usersapp:profile' user.pk %}">
                        {{ user.image }}<br>
                        {{ user.first_name }}<br>
                        {{ user.email }}
                    </a>
                    <br>
                    <a href="{% url 'usersapp:logout' %}">Logout</a><br>
                </div>
                <hr>
                <div class="other-links">
                    <a href="{% url 'marketapp:homepage' %}">Home</a><br>
                    {% if user.company %}
                        <a href="{% url 'marketapp:create-adv' user.company.slug %}">Create Advert</a><br>
                        <a href="{% url 'marketapp:company' user.company %}">My company</a><br>
                    {% endif %}
                    <a href="#">Settings</a><br>
                    {% for m in menu %}
                        {% if not forloop.last %}
                            <a href="{% url m.url_name %}">{{ m.title }}</a>
                        {% else %}
                            <a href="#"></a>
                        {% endif %}
                    {% endfor %}
                </div>
                <hr>
            {% else %}
                <a href="{% url 'usersapp:login' %}">Login</a>
                <a href="{% url 'usersapp:registration' %}">Registration</a>
            {% endif %}
        </div>
    {% endblock%}

    {% block content %}
        {% for a in advert %}
        <div class="post">
            <div class="post-head">
                <div class="post-head-company">
                    {{ a.company }}
                </div>
                <div class="post-head-date">
                    {{ a.date_posted }}
                </div>
                <div class="post-head-rating">
                    {{ a.rating }}
                </div>
            </div>
            <div class="post-content">
                <div class="post-content-text">
                    <div class="post-content-title">
                        <a href="{% url 'marketapp:advert-page' a.slug %}">
                            <div class="post-text-title">
                                <h2>{{ a.title }}</h2>
                            </div>
                            <div class="post-content-description">
                                <h4>{{ a.description }}</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="post-content-image">
                    {{ a.image }}
                </div>
            </div>
        </div>
        {% endfor %}

    {% endblock %}
</body>
</html>