<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link type="text/css" href="{% static 'marketapp/css/mainpage.css' %}" rel="stylesheet">
    <title>{% block title %}PlumbingStore | Main page{% endblock %}</title>
</head>
<body>
    {% block head %}
        <header>
            <div class="slogan">
                <div>
                    <h1 class="title">Everything for purity of your ass</h1>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block menu %}
        <div>
            {% if user.is_authenticated %}
                <div>
                    {{ user.image }}<br>
                    {{ user.first_name }}<br>
                    {{ user.email }}
                </div>
                <div>
                    <a href="{% url 'usersapp:logout' %}">Logout</a>
                    {% for m in menu %}
                        {% if not forloop.last %}
                            <a href="{% url m.url_name %}">{{ m.title }}</a>
                        {% else %}
                            <a href="#"></a>
                        {% endif %}
                    {% endfor %}
                    <a href="{% url 'marketapp:company' user.company %}">My company</a>
                    <a href="{% url 'marketapp:create-adv' user.company.slug %}">Create Advert</a>
                </div>
                <hr>
            {% else %}
                <a href="{% url 'usersapp:login' %}">Login</a>
                <a href="{% url 'usersapp:registration' %}">Registration</a>
                <hr>
            {% endif %}
        </div>
    {% endblock%}

    {% block content %}
        {% for a in advert %}
        <div>
            <a href="{% url 'marketapp:advert-page' a.slug %}">
                {{ a.image }}<br>
                {{ a.title }}<br>
                {{ a.description }}<br>
            </a>
        </div>
        {% endfor %}
    {% endblock %}
</body>
</html>