<!DOCTYPE html>
<html lang="en">
<head>
    <!--TODO: Сделать все темплейты красивее-->
    <meta charset="UTF-8">
    {% load static %}
    <link type="text/css" href="{% static 'marketapp/css/mainpage.css' %}" rel="stylesheet">
    <title>{% block title %}PlumbingStore | Main page{% endblock %}</title>
</head>
<body>
    {% block menu %}
        <div>
            {% if user.is_authenticated %}
                <a href="{% url 'usersapp:logout' %}">Logout</a>
                {% for m in menu %}
                    {% if not forloop.last %}
                        <a href="{% url m.url_name %}">{{ m.title }}</a>
                    {% else %}
                        <a href="#"></a>
                    {% endif %}
                {% endfor %}
            {% else %}
                <a href="{% url 'usersapp:login' %}">Login</a>
                <a href="{% url 'usersapp:registration' %}">Registration</a>
            {% endif %}
        </div>
    {% endblock%}

    {% block head %}
        <header>
            <div>
                <h1>Marketplace</h1><br>
            </div>
            <hr>
            <hr>
        </header>
    {% endblock %}

    {% block content %}
        {% for a in advert %}
        <div>
            <a href="{% url 'marketapp:advert_page' a.slug %}">
                {{ a.image }}<br>
                {{ a.title }}<br>
                {{ a.description }}<br>
            </a>
        </div>
        {% endfor %}
    {% endblock %}

</body>
</html>