.advert{
    background-color: #353839;
    border-radius: 25px;
    border: solid black;
    padding: 30px;
    margin-top: 50px;
    margin-left: 470px;
    width: 500px;
    height: 700px;
    color: #F5F5F5;
}


.advert-post{
    width: auto;
    background-color: #343434;
    border-radius: 10px;
    top: 5px;
    border: solid #202020;
}


.advert-post-head{
    position: relative;
    width: fit-content;
    background-color: #343434;
    border-radius: 10px;
    top: 0;
    border: solid #202020;
}


.advert-post-content{
    position: relative;
    bottom: 0;
    width: fit-content;
    border-radius: 10px;
    border: solid #202020;
    background-color: #343434;
}