.postadvert {
    width: 500px;
    height: 250px;
    position: relative;
    margin-left: 35px;
    margin-top: 50px;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
    border: solid black;
}


.postadvert-title {
    position: absolute;
    top: 0;
    border: solid black;
}


.postadvert-description {
    position: absolute;
    border: solid black;
}