.advert {
    background-color: #353839;
    border-radius: 7px;
    border: solid black 3px;
    padding: 30px;
    margin-top: 50px;
    margin-left: 420px;
    width: 600px;
    height: fit-content;
    color: #F5F5F5;
}


.advert-post {
    width: auto;
    border-radius: 10px;
    top: 5px;
}


.advert-post-head {
    position: relative;
    top: 0;
}


.advert-post-head a {
    color: #F5F5F5;
    text-decoration: none;
}


.advert-post-head a:hover {
    color: gray;
}


.advert-post-content {
    position: relative;
    bottom: 0;
    top: 10px;
    width: fit-content;
}

