body {
    background-color: #3B3C36;
    color: white;
}

.title {
    margin-left: 150px;
    margin-top: 20px;
    color: #E0E0E0;
}

.slogan {
    margin-left: 400px;
    width: 700px;
    height: 100px;
    background-color: black;
    color: #353839;
    border-radius: 100px/50px;
}

a {
    color: white;
}