body {
    background-color: #202020;
    color: white;
}

h1 {
    margin-left: 600px;
    color: #E0E0E0;
}

.slogan {
    margin-left: 200px;
    width: 700px;
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 100px/50px;
}

a {
    color: white;
}