body {
    background-color: #202020;
    color: #F5F5F5;
    margin-left: 220px;
    padding: 0px 10px;
}


.main-title {
    margin-left: 125px;
    margin-top: 5px;
    color: #E0E0E0;
}


.slogan-oval {
    margin-left: 400px;
    width: 700px;
    height: 50px;
    background-color: #333333;
    color: #353839;
    border-radius: 100px;
    border: solid black 1px;
}


.menu {
    position: fixed;
    height: 100%;
    width: 220px;
    left: 0;
    z-index: 1;
    top: 0;
    background-color: #333333;
    overflow-x: hidden;
    padding-top: 20px;
    border: solid black;
}


.other-links a {
    font-size: 25px;
    text-decoration: none;
    margin-left: 25px;
    color: #F5F5F5;
}


.menu a:hover {
    color: gray;
}


.user-profile-links a {
    font-size: 20px;
    text-decoration: none;
    color: #F5F5F5;
}


.post {
    position: relative;
    border-radius: 7px;
    border: solid black;
    width: 500px;
    height: 500px;
    color: #F5F5F5;
    background-color: #353839;
    padding: 30px;
    margin-top: 50px;
    margin-left: 475px;
}


.post a {
    color: #F5F5F5;
    text-decoration: none;
    padding: 10px;
}


.post a:hover {
    color: gray;
}


.post-head {
    position: absolute;
    width: 500px;
    background-color: #343434;
    border-radius: 10px;
    top: 5px;
    border: solid #202020;
}


.post-content{
    position: absolute;
    top: 70px;
    width: 500px;
}

