{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link type="text/css" href="{% static 'marketapp/css/advertpage.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'marketapp/css/mainpage.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} PlumbingStore | {{ object.slug }} {% endblock %}


{% block content %}
    <div class="advert">
        <div class="advert-post">
            <div class="advert-post-head">
                <div class="advert-post-head-company">
                    {{ object.company }}
                </div>
                <div class="advert-post-head-date">
                    {{ object.date_posted }}
                </div>
                <div class="advert-post-head-rating">
                    <a href="{% url 'marketapp:feedback-section' object.slug%}">
                        {{ object.star_rating }}
                    </a>
                </div>
            </div>
            <div class="advert-post-content">
                <div class="advert-post-content-image">
                    {{ object.image }}
                </div>
                <div class="advert-post-content-text">
                    <div class="advert-post-content-title">
                        <div class="advert-post-text-title">
                            {{ object.title }}
                        </div>
                        <div class="advert-post-content-description">
                            {{ object.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}