{% extends 'base.html' %}

{% load static %}
<link type="text/css" href="{% static 'marketapp/css/advertpage.css' %}" rel="stylesheet">

{% block title %}PlumbingStore | {{ advert.slug }}{% endblock %}

{% block content %}
    <div class="form">
        <div class="form-title">
            <h1>{{ advert.title }}</h1>
        </div>
        <div class="form-description">
            <h3>{{ advert.description }}</h3>
        </div>
        <div class="form-company">
            <h3>{{ advert.company}}</h3>
        </div>
    </div>
    <div>
        <form action="{% url 'marketapp:advert-page' advert.slug %}" method="post">
            {{ form }}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
    </div>
    <hr>
    <div>
        {% for f in object_list %}
        <div>
            {{ f.user }}<br>
            {{ f.text }}<br>
            {{ f.image }}<br>
        </div>
    </div>
    {% endfor %}
{% endblock %}