{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link type="text/css" href="{% static 'marketapp/css/advertpage.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'marketapp/css/mainpage.css' %}" rel="stylesheet">
{% endblock %}

{% block title %} PlumbingStore | {{ advert.slug }} {% endblock %}


{% block content %}
    <div class="advert">
        <div class="advert-post">
            <div class="advert-post-head">
                <div class="advert-post-head-company">
                    {{ advert.company }}
                </div>
                <div class="advert-post-head-date">
                    {{ advert.date_posted }}
                </div>
                <div class="advert-post-head-rating">
                    <form method="post" href="{% url 'marketapp:add-rating' advert.slug %}">
                        {{ rating_form }}
                    </form>
                </div>
            </div>
            <div class="advert-post-content">
                <div class="advert-post-content-image">
                    {{ advert.image }}
                </div>
                <div class="advert-post-content-text">
                    <div class="advert-post-content-title">
                        <div class="advert-post-text-title">
                            {{ advert.title }}
                        </div>
                        <div class="advert-post-content-description">
                            {{ advert.description }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="advert-comment-section">
            {% for f in object_list %}
                <div class="advert-feedback">
                    <div class="advert-feedback-head">
                        <div class="advert-feedback-head-user">
                            {{ f.user }}
                        </div>
                        <div class="advert-feedback-head-date">
                            {{ f.date_posted }}
                        </div>
                    </div>
                    <div class="advert-feedback-content">
                        <div class="advert-feedback-content-text">
                            {{ f.text }}
                        </div>
                        <div class="advert-feedback-content-image">
                            {{ f.image }} <!--TODO: provide later-->
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}