{% extends 'base.html' %}


{% block title %}PlumbingStore | {{company.name}}{% endblock %}
{% block content %}
<div>
    <h1>{{company.name}}</h1>
</div>
<hr>
<div>
    <h3>{{company.descr}}</h3>
</div>
<hr>
<br>
<div>
    <div>
        {% for advert in object_list %}
        <div>
            <a href="{% url 'marketapp:advert-page' advert.slug%}">
                {{ advert.image }}<br>
                {{ advert.title }}<br>
                {{ advert.description }}
            </a>
        </div>
        {% endfor %}
        <a href="{% url 'marketapp:feedback-section' company.slug %}">See feedbacks</a>
    </div>
</div>
{% endblock %}